
body {
  --width-gallery-image: 12rem;
  --width-gallery: calc(var(--width-gallery-image) * 2 + var(--width-gallery-image) / 2);
  --height-gallery-image: 10rem;
  --background-color-title: rgb(0, 0, 0);
  --color-title: rgb(255, 255, 255);
  --width-detailed-title: 30ch

}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background: url(../images/wavey-fingerprint.svg);
  background-attachment: fixed;
}
h2 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.detailedFrame {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.detailedContainer {
  position: relative;
}
.detailedContainer--image {
  width: 30rem;
  height: 25rem;
  object-fit: cover;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
 
}
.animation-down {
  animation: zoomInDown;
  animation-duration: 2s;
}
.animation-up {
  animation: zoomInUp;
  animation-duration: 2.5s;
}

.detailedContainer--title {
  display: inline-block;
  width: var(--width-detailed-title);
  position: absolute;
  font-size: 2rem;
  font-family: 'Allan';
  bottom: 0.5rem;
  left: 3rem;
  background-color: var(--background-color-title);
  color: var(--color-title);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.detailedContainer--title:hover {
  font-family: 'Allan';
  overflow: visible;
  white-space: initial;
  text-overflow: initial;
  font-size: 2rem;
}
  
.gallery--item_image {
  width: var(--width-gallery-image);
  height: var(--height-gallery-image);
  object-fit: cover;
}

.gallery {
  list-style: none;
  max-height: 50vh;
  width: var(--width-gallery);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: calc(16rem - var(--width-gallery-image))
}

.gallery--item_title {
  display: block;
  width: var(--width-gallery-image);
  height: calc(var(--width-gallery-image) * 0.25);
  font-size: 1.5rem;
  font-family: 'Open Sans';
  font-weight: 600;
  background-color: var(--background-color-title);
  color: var(--color-title);
  text-align: center;
}

.gallery--item_image {
  display: block;
}

.gallery--item {
  border: 2px solid lightgrey;
  border-radius: 40px;
  overflow: hidden;
  min-width: var(--width-gallery-image);
  max-height: 15rem;
  margin-top: 10px;
  cursor: pointer;
}

.logo {
  font-family: LakeshoreDrive;
  font-size: 3rem;
  text-align: center;
  background-color: rgb(11, 13, 13);
  text-transform: uppercase;
  letter-spacing: 8px;
  color: aliceblue;
}

.main.hidden {
  display: none;
}

.input-form.hidden{
  display: none;
}

.button-home.hidden{
  display: none;
}

.input-form{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.input-label{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  font-size: 3rem;
}

.input-element{
  font-size: 2rem;
  width: 15vw;
  margin-bottom: 2vh;
}

.button-home {
  position: absolute;
  left: 90vw;
  top: 10vh;
}

.button{
  width: 6vw;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  min-height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 2vh;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}


.button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button:active {
  outline: 0;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}


@media screen and (min-width: 500px) {
 
  .main {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .detailedContainer--title {
    bottom: 6rem;
  }
  
  .gallery {
    max-height: 80vh;
    width: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 4rem;
    justify-content: flex-start;
  }

  .gallery--item {
    min-width: var(--width-gallery-image);
    min-height: calc(var(--width-gallery-image) + 1rem);
    max-height: calc(var(--width-gallery-image) + 1rem);
  }
}
@media screen and (min-width: 1000px) {
  body {
    --width-gallery-image: 25rem;
    --width-gallery: calc(var(--width-gallery-image) * 2 + var(--width-gallery-image) / 2);
    --height-gallery-image: 15rem;
  }

  .detailedContainer--title:hover {
    font-size: 5rem;
  }
  .detailedFrame {
    margin-top: 3rem;
  }
  .detailedContainer--image {
    width: 80rem;
    height: 60rem;
  }
  .detailedContainer--title {
    width: calc(var(--width-detailed-title) + 10ch);
    position: absolute;
    font-size: 4rem;
    bottom: 2rem;
    left: -4rem;
  }
  
  .gallery {
    list-style: none;
    max-height: 85vh;
    padding-right: 3rem;
    margin-left: 4rem;
  }
  .gallery--item_title {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  .gallery--item_image {
    display: block;
  }
  .gallery--item {
    min-height: 18rem;
    max-height: 18rem;
  }
  .gallery--item:hover {
    filter: invert(20%) blur(2px);
  }

  .gallery li:nth-child(1) {
    margin-top: 0;
  }
  .logo {
    font-size: 4rem;
  }
}


